API_URL = "http://localhost:8080"
AUTH_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJkZWZhdWx0X3JvbGUiOiJNaXNzIEZyaWRhIFJvZ2FobiIsImV4cCI6MTcwNDk1Mzk1MCwiaWF0IjoxNjk2MzEzOTUwLCJuYmYiOjE2OTYzMTM5NTAsInN1YiI6Ijk3YTExNzFlLTNiNDgtNDkzOC04NGVlLThlNGRiZjRiY2YyOSJ9.zjXZJZQoqhX_zMZwzr07LcLi6NUXiU4CX9zG379FPu0"