.Toastify__toast--success {
    background: #7CFFDB95;
}

.Toastify__progress-bar--success {
    background: #7CFFDB95;
}

.Toastify__toast-theme--dark {
    color: white;
}

.Toastify__toast-theme--light {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #9e9e9e00;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9E9E9E;
}